

body{
    padding-left: 500px;
}

h1{
  padding-left: 75px;
}

.pw{
    padding-left: 15px;
}
.continue{
    text-align: left;
    font-size: small;
}

h5{
font-size: xx-large;
}

.lb1{
    font-size: medium;
}

caption{
    font-size: small;
}
